<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.travelmate">

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS"/>

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TestProject1"

        android:usesCleartextTraffic="true"
        android:networkSecurityConfig="@xml/network_security_config"
        >
        <receiver
            android:name="com.example.travelmate.trips.TripAlarmReceiver"
            android:exported="false"/>
        <activity
            android:name="com.example.travelmate.home.HomeActivity"
            android:exported="false" />

        <activity
            android:name="com.example.travelmate.auth.WelcomeActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity android:name="com.example.travelmate.auth.LoginActivity" />
        <activity android:name="com.example.travelmate.auth.SignUpActivity" />
        <activity android:name="com.example.travelmate.profile.ProfileActivity" />
        <activity android:name="com.example.travelmate.profile.ProfileUpdateActivity" />
        <activity android:name="com.example.travelmate.profile.ChangeAvatar" />
        <activity android:name="com.example.travelmate.profile.ChangeUsernameActivity" />
        <activity android:name="com.example.travelmate.profile.ChangePasswordActivity" />
        <activity android:name="com.example.travelmate.auth.ForgotPasswordActivity" />
        <activity android:name="com.example.travelmate.home.WishlistActivity" />
        <activity android:name="com.example.travelmate.home.PlaceDetailActivity" />
        <activity android:name="com.example.travelmate.chat.ChatListActivity" />
        <activity android:name="com.example.travelmate.chat.GroupChatActivity" />
        <activity android:name="com.example.travelmate.trips.GroupDashboardActivity" />
        <activity android:name="com.example.travelmate.chat.AddMembersActivity" />
        <activity android:name="com.example.travelmate.friends.FindFriendsActivity" />
        <activity android:name="com.example.travelmate.friends.FriendRequestsActivity" />
        <activity android:name="com.example.travelmate.chat.CreateGroupActivity" />
        <activity android:name="com.example.travelmate.notifications.NotificationsActivity" />
        <activity android:name="com.example.travelmate.chat.PrivateChatDashboardActivity" />
        <activity android:name="com.example.travelmate.trips.MyTripsActivity"/>
        <activity android:name="com.example.travelmate.trips.TripDetailActivity"/>

        <activity android:name="com.example.travelmate.profile.ProfilePublicActivity" />




        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data android:name="android.support.FILE_PROVIDER_PATHS" android:resource="@xml/file_paths" />
        </provider>

        <meta-data
            android:name="com.facebook.sdk.ApplicationId"
            android:value="@string/facebook_app_id" />

        <meta-data
            android:name="com.facebook.sdk.ClientToken"
            android:value="@string/facebook_client_token" />

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAC-7r9fWq-BeGFEU_6YhDO8xYc8WsNv8E" />

        <activity
            android:name="com.facebook.FacebookActivity"
            android:configChanges="keyboard|keyboardHidden|screenLayout|screenSize|orientation"
            android:label="@string/app_name" />

        <activity
            android:name="com.facebook.CustomTabActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="@string/fb_login_protocol_scheme" />
            </intent-filter>
        </activity>


    </application>

</manifest>
